@tailwind base;

@layer base {
  /* iranyekan */
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-Regular.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-Light.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-Regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 750;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-Black.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/IranYekan/IRANYekanXFaNum-ExtraBlack.woff") format("woff");
    font-display: swap;
  }

  /* iransans*/
  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IranSans/IRANSansXFaNum-Regular.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/IranSans/IRANSansXFaNum-Light.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/IranSans/IRANSansXFaNum-Medium.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/IranSans/IRANSansXFaNum-DemiBold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/IranSans/IRANSansXFaNum-Bold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 750;
    src: url("/fonts/IranSans/IRANSansXFaNum-ExtraBold.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/IranSans/IRANSansXFaNum-Black.woff") format("woff");
    font-display: swap;
  }
}
